/* HeyWow Book */
@font-face {
  font-family: 'HeyWow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/HeyWow-Book.woff2') format('woff2'),
    url('../fonts/HeyWow-Book.woff') format('woff');
}

/* HeyWow SemiBold */
@font-face {
  font-family: 'HeyWow';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/HeyWow-SemiBold.woff2') format('woff2'),
    url('../fonts/HeyWow-SemiBold.woff') format('woff');
}

/* HeyWow Bold */
@font-face {
  font-family: 'HeyWow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/HeyWow-Bold.woff2') format('woff2'),
    url('../fonts/HeyWow-Bold.woff') format('woff');
}
